<%= email_description(@maily_email) %>
<% has_multiple_locales = Maily.available_locales.present? && Maily.available_locales.size > 1 %>
<% edit_allowed = Maily.allowed_action?('edit') %>
<% deliver_allowed = Maily.allowed_action?('deliver') %>

<ul class="action_bar">
  <% if edit_allowed %>
    <li>
      <%= link_to 'Edit', edit_maily_email_path(mailer: params[:mailer], email: params[:email], part: params[:part]) %>
    </li>
  <% end %>

  <% if has_multiple_locales %>
    <li class="languages">
      <ul>
        <li>
          <%= icon 'globe' %> Languages
        </li>
        <% Maily.available_locales.each do |locale| %>
          <li><%= link_to locale.upcase, url_for(params.to_unsafe_h.merge(locale: locale)) %></li>
        <% end %>
      </ul>
    </li>
  <% end %>

  <% if edit_allowed && has_multiple_locales %>
    <li class="splitter">|</li>
  <% end %>

  <% if deliver_allowed %>
    <li>
      <%= form_tag(deliver_maily_email_path(mailer: params[:mailer], email: params[:email], locale: params[:locale]), method: :post, class: 'mail_deliver') do %>
        <ul>
          <li>Send to</li>
          <li><%= email_field_tag :to, nil, placeholder: "Enter email", required: true %></li>
          <li><%= submit_tag 'Send', class: 'button' %></li>
        </ul>
      <% end %>
    </li>
  <% end %>
</ul>

<div class="mail_preview">
  <table class="mail_details">
    <% if @email.subject %><tr><th>Subject</th><td> <%= @email.subject %><td></tr><% end %>
    <% if @email.from %><tr><th>From</th><td> <%= @email.from.join(', ') %><td></tr><% end %>
    <% if @email.to %><tr><th>To</th><td> <%= @email.to.join(', ') %><td></tr><% end %>
    <% if @email.cc %><tr><th>CC</th><td> <%= @email.cc.join(', ') %><td></tr><% end %>
    <% if @email.bcc %><tr><th>BCC</th><td> <%= @email.bcc.join(', ') %><td></tr><% end %>
    <% if @email.reply_to %><tr><th>Reply to</th><td> <%= @email.reply_to.join(', ') %><td></tr><% end %>
  </table>

  <% if @email.html_part && @email.text_part %>
    <ul class="format_mail">
      <li><%= link_to 'HTML', url_for(params.to_unsafe_h.merge(part: 'html')), class: part_class('html') %></li>
      <li><%= link_to 'TEXT', url_for(params.to_unsafe_h.merge(part: 'text')), class: part_class('text') %></li>
    </ul>
  <% end %>

  <% if @email.html_part || @email.text_part || @email.body.present? %>
    <iframe class="mail_iframe" onload='resizeIframe(this)' src="<%= raw_maily_email_path(mailer: params[:mailer], email: params[:email], locale: params[:locale], part: params[:part]) %>" frameborder="1" width="100%"></iframe>
  <% end %>

  <% if @email.has_attachments? %>
    <ul class="mail_attachments">
      <li>Attachments:</li>
      <li>
        <ul>
          <% @email.attachments.each do |attachment| %>
            <li>
              <%= icon 'paperclip' %>
              <%= link_to attachment.filename, attachment_maily_email_path(mailer: params[:mailer], email: params[:email], attachment: attachment.filename) %>
            </li>
          <% end %>
        </ul>
      </li>
    </ul>
  <% end %>
</div>
